.btn-blue {  
	background-color: #D9B99B;
	color: black;
	padding: 15px 20px;
	width: 200px;
	height: 40px;
	border-radius: 4px;
	margin: 0 auto; 
	}
.btn-blue:hover { 
	background-color:#fff0db ;
	color: black;
}